.tree-expand-icon{
    opacity: 0.7;
}

.tree-display-none {
    display: none;
}

.tree-node-children > .tree-node {
  padding-left: 1.5rem;
}

.tree-node-header{
    display: flex;
    flex-direction: row;
}

.tree-node-header-expander {

}

.tree-node-header-label {
  
}

.tree-node-children {
    
}

.tree-drop-target{
    border-top-width: 2px;
    border-top-style: dashed;
    border-top-color: red;
}

